
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- We can define object here now
     We can create as much as objects here
     -->

    <bean id="dev" class="org.example.dev">

    </bean>
    <bean id="dev1" class="org.example.dev">

    </bean>

    <bean id="laptop" class="org.example.laptop">

    </bean>

</beans>