<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->

<!--    Now this will auto connect both of them based on the name which is com-->

<bean id="dev" class="com.cherry.Dev" autowire="byName">

<!--    <property name="com" ref="desk"/>-->

</bean>

    <bean id="com" class="com.cherry.Laptop" primary="true"/>

<!--    We cant say here id = "com" cause that will create a confusion
        If there is any confusion creating we can use primary = "true"
        which will prorities the true one
-->
    <bean id="com" class="com.cherry.Desktop"/>

</beans>